:host * {
  transition: all 500ms ease-in-out;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: transparent;
}

.selected-menu-item {
  border-left-color: var(--color-accent);
  background-color: var(--color-surface-hover);
}
