<mat-toolbar class="mat-elevation-z4 relative z-10">
  <button (click)="collapseDrawer.set(!collapseDrawer())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="h-screen">
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-sidenav [collapseDrawer]="collapseDrawer()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
